Options +FollowSymlinks
RewriteEngine On
RewriteCond %{SERVER_PORT} 80

RewriteRule ^(.*)$ http://appleclone.herokuapp.com/$1 [L,R=301]

#---------------------------
<ifModule mod_expires.c>
ExpiresActive On
ExpiresByType image/gif A432000
ExpiresByType image/jpg A432000
ExpiresByType image/jpeg A432000
ExpiresByType image/png A432000
ExpiresByType image/ico A432000
ExpiresByType image/bmp A432000
ExpiresByType text/css A432000
ExpiresByType text/javascript A432000
ExpiresByType application/javascript A432000
ExpiresByType application/x-javascript A432000
</ifmodule>
#---------------------------


#Comprimir archivos CSS/JS
#---------------------------
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript appl$
#---------------------------